<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include homehead.html %}
  <body>
      <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
      <link rel="stylesheet" href="../assets/css/font-awesome/css/font-awesome.min.css" />
      <link rel="stylesheet" href="../assets/css/main.css" />
      <link href="../assets/css/syntax.css" rel="stylesheet">
      <script src="../assets/js/jquery.min.js"></script>
      <script src="../assets/js/bootstrap.min.js"></script>
      {% include header.html %}
      {% include homeheader.html %}
      <section id="about">
        {% include homeabout.html %}
      </section>
        {{ content }}
      {% include homefooter.html %}
  </body>
</html>
